brotli==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and implementation_name == "cpython"
brotlicffi==1.1.0.0 ; python_version >= "3.11" and python_version < "4.0" and implementation_name != "cpython"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "4.0" and implementation_name != "cpython"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
idna==3.7 ; python_version >= "3.11" and python_version < "4.0"
mutagen==1.47.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0" and implementation_name != "cpython"
pycryptodomex==3.20.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.11" and python_version < "4.0"
yt-dlp==2024.4.9 ; python_version >= "3.11" and python_version < "4.0"
